<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Properties</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Create</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="type_of_use">Type of use</label>
                                    <v-select
                                            name="type_of_use"
                                            @input="updateType_of_use"
                                            :value="item.type_of_use"
                                            :options="type_of_useEnum"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="transaction_type">Transaction type</label>
                                    <v-select
                                            name="transaction_type"
                                            @input="updateTransaction_type"
                                            :value="item.transaction_type"
                                            :options="transaction_typeEnum"
                                            />
                                </div>
                                <div class="form-group">
                                    <label for="number_bedrooms">Number bedrooms *</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="number_bedrooms"
                                            placeholder="Enter Number bedrooms *"
                                            :value="item.number_bedrooms"
                                            @input="updateNumber_bedrooms"
                                            >
                                </div>
                                <div class="form-group">
                                    <label for="number_bathrooms">Number bathrooms *</label>
                                    <input
                                            type="number"
                                            class="form-control"
                                            name="number_bathrooms"
                                            placeholder="Enter Number bathrooms *"
                                            :value="item.number_bathrooms"
                                            @input="updateNumber_bathrooms"
                                            >
                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                        >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            // Code...
        }
    },
    computed: {
        ...mapGetters('PropertiesSingle', ['item', 'loading', 'type_of_useEnum', 'transaction_typeEnum'])
    },
    created() {
        // Code ...
    },
    destroyed() {
        this.resetState()
    },
    methods: {
        ...mapActions('PropertiesSingle', ['storeData', 'resetState', 'setType_of_use', 'setTransaction_type', 'setNumber_bedrooms', 'setNumber_bathrooms']),
        updateType_of_use(value) {
            this.setType_of_use(value)
        },
        updateTransaction_type(value) {
            this.setTransaction_type(value)
        },
        updateNumber_bedrooms(e) {
            this.setNumber_bedrooms(e.target.value)
        },
        updateNumber_bathrooms(e) {
            this.setNumber_bathrooms(e.target.value)
        },
        submitForm() {
            this.storeData()
                .then(() => {
                    this.$router.push({ name: 'properties.index' })
                    this.$eventHub.$emit('create-success')
                })
                .catch((error) => {
                    console.error(error)
                })
        }
    }
}
</script>


<style scoped>

</style>
